{%extends 'base.html'%}
{%block body%}
{%for o in order%}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-5">
                {%if o.product.image%}
                <img class="card-img-top mb-5 mb-md-0" src="{{o.product.image.url}}" alt="..." / height="300px"></div>
                {%else%}
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                {%endif%}
            <div class="col-md-5">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{o.product.product_name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoratio -line-through">price:{{o.product.price}}</span>
                    <span class="text-decoratio -line-through">delivery date:{{o.expected_deliverydate}}</span><br>
                    <span class="text-decoratio -line-through">status:{{o.status}}</span>
                    <span></span>
                    
                </div>
                <a href="{%url 'order-cancelled' o.id%}" class="btn btn-outline-danger">cancel</a>
                <a href="{%url 'review-add' o.product.id%}" class="btn btn-outline-info btn-sm">Add Your Review</a>
               
            </div>
            
            
        </div>
    </div>
</section>


{%endfor%}
{%endblock%}